nav {
  display: flex;
  justify-content: center;
  float: right;
  align-items: center;
  margin: 50px;
  margin-top: 10px;
}
body {
  margin: 0;
}
button {
  margin-left: 20px;
  border-radius: 5px;
  background-color: white;
  border: solid 0.5px;
}
.logo {
  float: left;
  margin-right: 600px;
  color: rgb(178, 115, 237);
}
.pic {
  margin: 50px;
}
.text {
  float: right;
  margin-top: 250px;
  margin-right: 80px;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.h1 {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
li:hover,
button:hover {
  background-color: rgb(178, 115, 237);
  color: black;
  transition: 0.5s;
  cursor: pointer;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.box:hover {
  transform: scale(1.3);
  z-index: 0;
  transition: 1.5s;
  cursor: pointer;
}
.foot {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  margin: 50px;
}
.pop {
  color: darkgray;
  margin-top: 50px;
}
.foot:hover {
  /* color: rgb(178, 115, 237); */
  transition: 1s;
  /* background-color: rgb(178, 115, 237); */
}
.last {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  color: rgb(178, 115, 237);
}
footer {
  background-color: black;
  margin: 0;
}
.span:hover {
  color: rgb(178, 115, 237);
  transition: 0.5s;
}
